.login-text h1 {
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  /* line-height: 128px; */
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.login-text {
  padding-left: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.login-text h2 {
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  /* line-height: 187px; */
  text-transform: uppercase;
  color: #ffffff;
}

.login {
  background: #32be8a;
}
.login-form {
  margin-top: 100px;
  background: white;
  width: 504px;
  padding-left: 40px;
  padding-top: 50px;
  border-radius: 20px;
  padding-bottom: 50px;
  height: 545px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 33px;
}
.login-form h1 {
  font-family: Poppins;
  font-size: 20px;
  color: #000000;
  padding-top: 10px;
  /* padding-bottom: 10px; */
}
.user {
  margin-top: 20px;
  width: 420px;
  height: 70px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #32be8a;
  padding-left: 20px;
  padding-top: 20px;
}
.username-text {
  padding-left: 10px;
  color: #a9a9a9;
}
.password {
  margin-top: 20px;
  width: 420px;
  height: 70px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #a9a9a9;
  padding-left: 20px;
  padding-top: 20px;
}
.eye-img {
  margin-left: 200px;
}
.login-button {
  width: 420px;
  height: 70px;
  margin-top: 20px;
}
.smartvision {
  color: #32be8a;
}
.Admin-right {
  position: absolute;
  right: 0px;
}
.form-footer-text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 990px) and (max-width: 1290px) {
  .login-form {
    width: 404px;
    height: 545px;
    /* margin-right: 200px; */
  }
  .loginformimage {
    width: 333px;
    height: 100px;
  }
  .login-text img {
    width: 100%;
    height: 400px;
  }
  .login-text h2 {
    font-size: 50px;
    font-weight: 300;
  }
  .user {
    width: 320px;
    height: 70px;
  }
  .password {
    margin-top: 20px;
    width: 320px;
  }
  .login-button {
    width: 320px;
    height: 70px;
  }
  .login-text h1 {
    font-weight: 400;
    font-size: 60px;
  }
  .eye-img {
    margin-left: 100px;
  }
}

@media (min-width: 840px) and (max-width: 990px) {
  .login-form {
    margin-left: 200px;
  }
  .login-text {
    padding-left: 100px;
  }
}

@media (min-width: 950px) and (max-width: 990px) {
  .login-text {
    padding-left: 170px;
  }
}

@media (min-width: 900px) and (max-width: 950px) {
  .login-text {
    padding-left: 150px;
  }
}

@media (min-width: 750px) and (max-width: 840px) {
  .login-form {
    margin-left: 150px;
  }
}
@media (min-width: 650px) and (max-width: 700px) {
  .login-form {
    margin-left: 80px;
  }
}

@media (min-width: 550px) and (max-width: 600px) {
  .login-form {
    margin-left: 100px !important;
  }
}

@media (min-width: 600px) and (max-width: 650px) {
  .login-form {
    margin-left: 60px;
  }
}

@media (min-width: 700px) and (max-width: 750px) {
  .login-form {
    margin-left: 100px;
  }
}

@media (min-width: 370px) and (max-width: 840px) {
  /* .login-form {
    margin-left: 200px;
  } */

  .login-text {
    /* margin-left: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* @media (min-width: 500px) and (max-width: 50px) {
  .login-form {
    margin-left: 50px;
  }
} */

@media (min-width: 600px) and (max-width: 650px) {
  .login-text h2 {
    font-size: 80px;
    font-weight: 600;
  }
}

@media (min-width: 460px) and (max-width: 600px) {
  .login-form {
    width: 354px;
    height: 545px;
    margin-right: 200px;
    margin-left: 40px;
  }
  .loginformimage {
    width: 283px;
    height: 100px;
  }
  .login-text img {
    width: 400px;
    height: 300px;
  }
  .login-text h2 {
    font-size: 50px;
    /* font-weight: 300; */
    font-weight: 500;
    margin-right: 50px;
  }
  .user {
    width: 280px;
    height: 70px;
  }
  .password {
    margin-top: 20px;
    width: 280px;
  }
  .login-button {
    width: 280px;
    height: 70px;
  }
  .login-text h1 {
    font-weight: 400;
    font-size: 60px;
  }
  .eye-img {
    margin-left: 50px;
  }
}
@media (min-width: 320px) and (max-width: 470px) {
  .login-form {
    width: 300px;
    height: 545px;
    margin-right: 200px;
  }
  .user {
    width: 230px;
    height: 70px;
  }
  .password {
    margin-top: 20px;
    width: 230px;
  }
  .loginformimage {
    width: 183px;
    height: 100px;
  }
  .login-text img {
    width: 250px;
    height: 300px;
  }
  .login-button {
    width: 230px;
    height: 70px;
  }
  .eye-img {
    margin-left: 10px;
  }
}
