.recharts-default-legend {
  display: none;
}
.graph_1 {
  width: 640px;
  height: 400px;
}

.main_graph {
  // display: flex;
  gap: 30px;
  display: grid;
  padding-top: 35px;
  grid-template-columns: 1fr 3fr;

  @media (max-width: 650px) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.graph_content {
  padding-right: 32px;
}

.sliderbar_start {
  width: auto;
  height: fit-content;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  padding-top: 1.5rem;
  margin-left: 60px;

  @media (max-width: 650px) {
    width: 100% !important;
    justify-content: center;
    margin-left: 0px;
  }
}

.graph_start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (max-width: 1290px) {
    // display: flex !important;
    display: block;
    // max-width: -webkit-fill-available;
    width: 90%;
    // flex-direction: column;
  }
  @media (max-width: 400px) {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
}

.graph_1 {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: fit-content;
  @media (max-width: 1270px) {
    width: 660px !important;
  }
  @media (max-width: 850px) {
    width: 430px !important;
  }
  @media (max-width: 650px) {
    width: 100%;
  }

  @media (max-width: 400px) {
    width: 290px !important;
  }
}

.graph_2 {
  height: fit-conent;
  width: 640px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  @media (max-width: 1270px) {
    width: 660px !important;
  }
  @media (max-width: 850px) {
    width: 430px !important;
  }
  @media (max-width: 650px) {
    width: 100%;
  }
  @media (max-width: 400px) {
    width: 290px !important;
  }
}

.slidebar_icons {
  display: flex;
  gap: 20px;
  margin-left: 36px;
  @media (max-width: 1300px) {
    margin-left: 15px !important;
  }
}

.slidebar_icons img {
  width: 79px;
  height: 79px;

  @media (max-width: 1300px) {
    height: 49px !important;
    width: 49px !important;
  }
}

.icon_text {
  display: flex;
  flex-direction: column;
}

.icon_title {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-transform: capitalize;

  color: #a9a9a9;

  @media (max-width: 1300px) {
    font-size: 17px !important;
  }
}

.icon_title_special {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-transform: capitalize;
  color: #a9a9a9;
  @media (max-width: 1300px) {
    font-size: 17px !important;
    line-height: 20px !important;
  }
}

.icon_number {
  width: 80px;
  height: 80px;

  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;

  @media (max-width: 1300px) {
    font-size: 30px !important;
    line-height: 40px !important;
  }
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media (max-width: 1300px) {
    gap: 10px !important;
  }
}

.graph1_title {
  width: 206px;
  height: 38px;

  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-transform: capitalize;

  color: #000000;
}

/* mui */

.table_1 {
  width: -webkit-fill-available;

  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 20px;

  table {
    margin-left: 30px !important;
    width: -webkit-fill-available;
  }

  td {
    padding: 16px;

    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-transform: capitalize;

    color: #555555;
    @media (max-width: 1100px) {
      font-size: 14px !important;
      padding: 7px !important;
    }
    @media (max-width: 850px) {
      font-size: 10px !important;
      padding: 4px !important;
    }
    @media (max-width: 400px) {
      font-size: 6px !important;
      padding: 2px !important;
    }
  }

  th {
    width: -webkit-fill-available;

    background: #edebe9;
    border-radius: 5px;
    padding: 14px;

    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-transform: capitalize;

    color: #555555;

    @media (max-width: 1100px) {
      font-size: 14px !important;
    }
    @media (max-width: 850px) {
      font-size: 10px !important;
    }
    @media (max-width: 400px) {
      font-size: 7px !important;
    }
  }

  .summary {
    font-family: "Hind";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    text-transform: capitalize;
    margin-left: 28px;
    color: #000000;

    @media (max-width: 1100px) {
      font-size: 14px !important;
    }
    @media (max-width: 850px) {
      font-size: 10px !important;
    }
    @media (max-width: 850px) {
      font-size: 7px !important;
    }
  }

  .expand img {
    margin-right: 80px;
    @media (max-width: 1100px) {
      width: 20px !important;
      height: 20px !important;
    }
    @media (max-width: 850px) {
      width: 10px !important;
      height: 10px !important;
    }
    @media (max-width: 400px) {
      width: 7px !important;
      height: 7px !important;
    }
  }

  .table_title {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    height: 70px;
    align-items: center;
  }

  .slider {
    display: flex;
    gap: 30px;
  }

  @media (max-width: 1100px) {
    .css-b5wsk5 {
      width: 209px !important;
    }
  }
  @media (max-width: 400px) {
    .css-b5wsk5 {
      width: 109px !important;
    }
  }
}

.table_2 {
  width: -webkit-fill-available;

  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 20px;

  table {
    margin-left: 30px !important;
    width: -webkit-fill-available;
  }

  td {
    padding: 16px;

    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-transform: capitalize;

    color: #555555;
    @media (max-width: 1100px) {
      font-size: 14px !important;
      padding: 7px !important;
    }
    @media (max-width: 850px) {
      font-size: 10px !important;
      padding: 4px !important;
    }
    @media (max-width: 400px) {
      font-size: 7px !important;
      padding: 2px !important;
    }
  }

  th {
    width: -webkit-fill-available;

    background: #edebe9;
    border-radius: 5px;
    padding: 14px;

    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-transform: capitalize;

    color: #555555;

    @media (max-width: 1100px) {
      font-size: 14px !important;
    }
    @media (max-width: 850px) {
      font-size: 10px !important;
    }
    @media (max-width: 400px) {
      font-size: 7px !important;
    }
  }

  .summary {
    font-family: "Hind";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    text-transform: capitalize;
    margin-left: 28px;
    color: #000000;

    @media (max-width: 1100px) {
      font-size: 14px !important;
    }
    @media (max-width: 850px) {
      font-size: 10px !important;
    }
  }

  .expand img {
    margin-right: 80px;
    @media (max-width: 1100px) {
      width: 20px !important;
      height: 20px !important;
    }
    @media (max-width: 850px) {
      width: 10px !important;
      height: 10px !important;
    }
  }

  .table_title {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    height: 70px;
    align-items: center;
  }
}

.css-53tbrc-MuiSlider-root {
  border-radius: 3px !important;

  color: #32be8a !important;
  -webkit-tap-highlight-color: transparent;
  height: 2px;
  width: 100%;
}

.css-14gf62f-MuiSlider-thumb {
  background-color: white !important;
  border: 1px solid #32be8a !important;
  width: 22px !important;
  height: 22px !important;
}

/* Bar */

.main_bar {
  margin-top: 30px;
}

.top_bar {
  width: -webkit-fill-available;

  background: #333333;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.bar_end {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 30px;
  align-items: center;
  margin-right: 40px;
  @media (max-width: 850px) {
    gap: 0px !important;
  }
}

.filter {
  display: none;
}

.calender img {
  width: 30px;
  padding-right: 10px;
}

.calender {
  padding-left: 20px;

  display: flex;
  align-items: center;
  justify-content: start;
  background: #333333;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;

  line-height: 38px;

  color: rgba(255, 255, 255, 0.5);

  @media (max-width: 850px) {
    border: none !important;
    height: auto !important;
    font-size: 10px !important;
  }

  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.5) !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0;
    top: 0;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px !important;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 12.5px 0px !important;
  }
}

.btn-primary {
  padding-left: 20px;

  background: #333333 !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  font-family: "Hind" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 38px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: rgba(255, 255, 255, 0.5) !important;

  @media (max-width: 1024px) {
    border: none !important;
    height: auto !important;
    font-size: 10px !important;
  }
}

.bar_home {
  color: rgba(255, 255, 255, 0.5) !important;
  font-family: "Hind" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 24px !important;

  display: flex;
  gap: 22px;

  @media (max-width: 800px) {
    gap: 20px;
    font-size: 15px !important;
  }
}

.bar_home img {
  padding-left: 52px;

  @media (max-width: 800px) {
    width: 30px;
    height: 20px;
    padding-left: 10px !important;
  }
}

@media (max-width: 650px) {
  .calender {
    display: none !important;
  }

  .bar_user {
    display: none !important;
  }

  .bar_all {
    display: none !important;
  }

  .filter {
    display: block !important;
  }
}

// @media only screen and (max-width: 1440px) and (min-width: 1024px){

//     .veiw_img{
//         width: 16px !important;
//         height: 16px !important;
//     }
//     .bar_all_text{
//         font-size: 15px !important;
//     }

//     .bar_all img{
//         width: 16px !important;
//         height: 16px !important;
//     }

//     *{
//           font-size: 20px !important;
//     }

// .icon_number{
//     font-size: 40px !important;
// }

// }

@media (max-width: 400px) {
  .table_2 input {
    width: 7px;
    height: 7px;
  }
}
