.chat-bot-Row1 {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-bot-Row1 h6 {
  font-size: 22px;
  font-weight: 400;
  color: #555555;
  padding-right: 10px;
  padding-left: 10px;
}
.chat-bot-Row1 h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  padding-left: 10px;
  border-radius: 10px;
}

.khan {
  border-radius: 10px;
  background-color: white;
  padding: 34px;
  margin-top: 20px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0.5);
}

.giving_it {
  display: flex !important;
  flex-direction: row !important;
}

.main_chat_bot {
  background-color: #e5e5e5;
}

.ajhv {
  display: flex;
  justify-content: space-between;
}

.Card-link {
  display: flex;
  justify-content: space-between;
}

.chatbot-icon-text {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  /* padding: 10px; */
  padding-left: 10px;
  padding-top: 10px;

  @media (max-width: 1440px) {
    font-size: 20px;
    padding-top: 0px !important;
  }
}
.chat-bot-row2 {
  background: #333333;
  display: flex;
  align-items: center;
  height: 100px;
  border-radius: 10px;
}

.aroundit {
  display: flex !important;
}

.add-button {
  background-color: #32be8a !important;
  border-radius: 30px !important;
  border: none !important;
  margin-left: 100px;
  height: 60px;
  width: 190px;
}

.message-preview {
  font-size: 30px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .aroundit img {
    width: 25px;
    height: 25px;
  }
}

.add-button img {
  margin-right: 10px;
}
.btn {
  border-radius: 30px !important;
}
.cardIcon {
  display: flex;
  justify-content: space-between;
  @media (min-width: 990px) and (max-width: 1100px) {
    display: flex;
    justify-content: center;
  }
}
.edit-button {
  width: 171px !important;
  height: 60px !important;
  border-radius: 30px;
  border: none;
  margin-left: 10px;
  color: white !important;

  @media (max-width: 430px) {
    width: 140px !important;
    height: 50px;
  }
  @media (max-width: 1120px) {
    width: 150px !important;
    height: 50px;
  }
}
.hr-tag {
  margin: 0px;
}
.card-row {
  margin-top: 30px !important;
}
.mainbottext {
  border-bottom: 2px solid #32be8a !important;
}
.reset-button {
  width: 171px !important;
  height: 60px !important;
  border-radius: 30px;
  border: none;
  margin-left: 10px;
  @media (max-width: 430px) {
    width: 140px !important;
    height: 50px;
  }
  @media (min-width: 990px) and (max-width: 1120px) {
    width: 150px !important;
    height: 50px;
  }
}

.btn img {
  margin-right: 5px !important;
}
.chatbot-img-mobile {
  width: 100% !important;
  height: 600px;
}
.mobile-portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home-card {
  background: #32be8a4d;
}
.chatbotmainclass {
  margin-left: 320px;
}
.Count {
  margin-left: 120px;
}

.button_close {
  width: 150px !important;
  height: 60px !important;

  box-sizing: border-box;
  border-radius: 30px !important;

  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  text-align: center;
}

.phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 140px;
  /* margin-left: 100px; */
}
.Chatbotbutton {
  background: red;
}
// .chatbotmain2 {
//   margin-left: 30px;
// }
.Linked {
  font-size: 30px;
  font-weight: 500;
  padding-left: 50px;
  color: #a9a9a9;
}
.chatbottext h6 {
  font-size: 30px;
  font-weight: 500;
  /* padding-left: 50px; */
}

.button_close {
  width: 220px !important;
  height: 60px !important;
  font-size: 24px !important;
  border-radius: 30px !important;
  border: none !important;
}
.button_close2 {
  width: 220px !important;
  height: 60px !important;
  background: #0061bb !important;
  border-radius: 30px !important;
  border: none !important;
  font-size: 24px !important;
}

.button_close img {
  width: 24px !important;
  height: 24px !important;
}
.button_close2 img {
  width: 24px !important;
  height: 24px !important;
}

@media (max-width: 1200px) {
  .chat-bot-row2 {
    margin-right: 0px !important;
  }
}

// @media (min-width: 770px) and (max-width: 850px) {
//   .mobile-pic {
//     margin-left: 140px;
//   }
// }
// @media (min-width: 520px) and (max-width: 760px) {
//   .mobile-pic {
//     margin-left: 50px;
//   }
// }
// @media (min-width: 320px) and (max-width: 520px) {
//   .mobile-pic {
//     margin-left: 20px;
//   }
// }

// @media (min-width: 1250px) and (max-width: 1550px) {
//   .add-button {
//     margin-left: 50px;
//   }
// }

@media (max-width: 1720px) {
  .chat-bot-row2 {
    margin-right: 0px;
  }
}

@media (max-width: 1250px) {
  .add-button {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .add-button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}
