.chat-bot-Row1 {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-bot-Row1 h6 {
  font-size: 22px;
  font-weight: 400;
  color: #555555;
}
.chat-bot-Row1 h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}

.chatbot-icon-text {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  /* padding: 10px; */
  padding-left: 10px;
  padding-top: 10px;
}
.chat-bot-row2 {
  background: #333333;
  display: flex;
  align-items: center;
  height: 100px;
  border-radius: 10px;
}
.add-button {
  background: #32be8a;
  border-radius: 30px;
}

.chatbot-img-text {
  display: flex;
  align-items: center;
}
.Home-card {
  background: #32be8a4d;
}
.Count {
  margin-left: 120px;
}
.phone-button{
    display: flex;justify-content: center;
    align-items: center;
}
.Chatbotbutton{
    background: red;
}
.Linked{
    font-size: 30px;
    font-weight: 500;
    padding-left: 50px;
    color: #A9A9A9;
}
.chatbottext h6 {
    font-size: 30px;
    font-weight: 500;
    /* padding-left: 50px; */
}