.chat-bot-Row1 {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-bot-Row1 h6 {
  font-size: 22px;
  font-weight: 400;
  color: #555555;
  padding-right: 10px;
  padding-left: 10px;
}
.chat-bot-Row1 h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  padding-left: 10px;
}
.ajhv {
  display: flex;
  justify-content: space-between;
}
.chatbot-img-delete {
  padding-right: 10px;
}
.Card-link {
  display: flex;
  justify-content: space-between;
}

.chatbot-icon-text {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  /* padding: 10px; */
  padding-left: 10px;
  padding-top: 10px;
}
.chat-bot-row2 {
  background: #333333;
  display: flex;
  align-items: center;
  height: 100px;
  border-radius: 10px;
  margin-right: 100px !important;
}
.add-button {
  background-color: #32be8a !important;
  border-radius: 30px !important;
  border: none !important;
  margin-left: 100px;
  height: 60px;
  width: 190px;
}

.message-preview {
  font-size: 30px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button img {
  margin-right: 10px;
}
.btn {
  border-radius: 30px !important;
}

.btn img {
  margin-right: 5px !important;
}
.chatbot-img-mobile {
  width: 100% !important;
  height: 700px;
}
.mobile-portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home-card {
  background: #32be8a4d;
}
.chatbotmainclass {
  margin-left: 320px;
}
.Count {
  margin-left: 120px;
}

.button_close {
  width: 150px !important;
  height: 60px !important;

  box-sizing: border-box;
  border-radius: 30px !important;

  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  text-align: center;
}

.phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 100px; */
}
.Chatbotbutton {
  background: red;
}
.chatbotmain2 {
  margin-left: 30px;
}
.Linked {
  font-size: 30px;
  font-weight: 500;
  padding-left: 50px;
  color: #a9a9a9;
}
.chatbottext h6 {
  font-size: 30px;
  font-weight: 500;
  /* padding-left: 50px; */
}

@media (max-width: 1200px) {
  .chat-bot-row2 {
    margin-right: 0px !important;
  }
}

@media (min-width: 770px) and (max-width: 850px) {
  .mobile-pic {
    margin-left: 140px;
  }
}
@media (min-width: 520px) and (max-width: 760px) {
  .mobile-pic {
    margin-left: 50px;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .mobile-pic {
    margin-left: 20px;
  }
}

@media (min-width: 1250px) and (max-width: 1550px) {
  .add-button {
    margin-left: 50px;
  }
}

@media (max-width: 1720px) {
  .chat-bot-row2 {
    margin-right: 0px;
  }
}

@media (max-width: 1250px) {
  .add-button {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .add-button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}
