.messege-icon {
  display: flex;
gap: 15px;
  margin-right: 20px;
  margin-top: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offcanvas-start {
  width: 600px !important;
}
.navbar-data {
  display: flex;
}
.navbar-brand {
  height: 1px;
}

.navbar-collapse{
flex-grow: 0 !important;
}
.color1{
  background-color: #32BE8A;
  justify-content:center;
  align-items: center;
  display: flex;
  border-radius: 10px;
margin: 0px !important;

}
.colorChange{
  display: flex;
  justify-content:center;
  align-items: center;
}
@media (max-width:991px){

  .navbar-brand  img{
    margin-top:-35px;
  }


}
.nav-link {
  margin-right: 20px;
}
.hGetbP {
  background: white;
  color: black;
}
.form-select {
}
.fa {
  position: absolute;
  left: 5px;
}
.label {
  /* background: white; */
  color: aliceblue;
}
.item-end {
  margin-right: 300px !important;
}
.image-icon {
  padding-top: 0px;
  width: 36px;
  height: fit-content;
}
.navbar-row-1 {
  display: flex;
}



.form-select {
  background-color: #212529 !important;
  color: white !important;
  border: none !important;
  width: 200px !important;
}


@media (min-width:991px){

  .sidebaricon {
    margin-top: -20px;
  }
}
@media (max-width:1280px){

.d-flex img{
  padding-top: 5px !important;
  width: 24px ;
}

  .image-icon{
  width: 24px ;
  
  }

  .Admin-right img{
    width: 20px !important;
    height: 21px !important;
  }


  
}




@media (max-width:1100px){

  .d-flex img{
    padding-top: 14px !important;
    width: 14px !important ;
  }
  
    .image-icon{
    width: 14px !important ;
    
    }

    .bell_fix{
      width: 14px  !important;
      
    }

    .picHeader{
      width:150px !important;
      height: 40px !important;
    }


  }  

.Admin-right {
  position: absolute;
  margin-top: 20px;
  right: 0px;
}
.navbar-collapse {
  padding-top: 30px;
}
.item-end {
  display: flex;
 justify-content: center !important;
 align-items: center !important;
  
}
/* .selector {
  border: 0px;
  background-color: black;
} */
.picHeader {
  margin-left: 10px;
  margin-top: -12px;
}
@media (max-width: 1550px) {
  .Admin-right {
    position: relative;
    right: -10px;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    margin-right: 0px !important;
  }
}

@media (max-width: 990px) {
  .Sidebar {
    display: none;
  }
}
@media (min-width: 600px) {
  .secondnavbar {
    display: none;
  }
}

/* @media (min-width: 1200px) and (max-width: 1300px) {
  .item-end {
    margin-left: 100px;
  }
}
@media (max-width: 1200px) {
  .item-end {
    margin-left: 0px;
  }
} */

@media (max-width: 600px) {
  .Navbar1 {
    display: none;
  }
  .secondnavbar {
    display: block;
  }
  .sidebaricon {
    display: none;
  }
}
@media (max-width: 991px) {
  .sidebaricon {
    display: none;
  }
}
@media (max-width: 991px) {
  .mainSidebar {
    display: none !important ;
  }
  .chatbotmainclass {
    margin-left: 30px;
  }
}
