.messege-icon {
  display: flex;
  gap: 3px;
  margin-right: 20px;
  margin-top: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar1 {
  margin-bottom: 20px;
}

.reportmaindiv {
  margin-right: 20px !important;
}

@media (max-width: 601px) {
  .messege-icon {
    justify-content: start !important;
  }

  .Admin-right img {
    display: none !important;
  }
}
@media (max-width: 990px) {
  .Admin-right img {
    display: none !important;
  }
  .item-end {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: unset !important;
  }
}

.offcanvas-start {
  width: 600px !important;
}
.navbar-data {
  display: flex;
}
.navbar-brand {
  height: 1px;
}
.image-icon-1 {
  color: white;
}
.navbar-all-icon {
  color: white !important;
}

#message_iconed {
  width: 24px;
  height: 19px !important;
}

#texted_icon {
  font-weight: 600 !important;
  font-size: 22px !important;
  font-family: Hind !important;
  padding-left: 7px;
}
/* .image-icon1{
  position: relative;
  top: -5px;
} */

.icon_texts {
  font-weight: 400;
  font-size: 22px;
  font-family: Hind;
  color: #00784B;
}
.secondnavbar a{
font-size: 50px !important;
}

.Navbar1 a {
  color: #555555;
}
.addbuttonpadding {
  margin-right: 10px;
}
.icon_text2 {
  font-weight: 400;
  font-size: 22px;
  font-family: Hind;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.image-icon1 {
  /* filter: brightness(25); */
  fill: #00784B;
}
.color1 {
  background: rgba(50, 190, 138, 0.4);
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  border-radius: 10px;
  /* margin: 10px !important; */
  padding: 10px 15px !important;
  color: white !important;
  font-weight: 600;
  margin-right: unset !important;
}
.colorChange {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: red !important; */
}
@media (max-width: 991px) {
  .navbar-brand img {
    margin-top: -35px;
  }
}
.nav-link {
  margin-right: 20px;
}
.hGetbP {
  background: white;
  color: black;
}
.form-select {
}
.navbar-link {
  text-decoration: none;
}

@media (max-width: 1030px) {
  .navbar-link {
    margin-right: -8px !important;
  }
}

.fa {
  position: absolute;
  left: 5px;
}
.label {
  color: aliceblue;
}
.item-end {
  /* margin-right: 300px !important;
  margin-left: 50px; */
}
.image-icon {
  padding-top: 0px;
  width: 24px !important;
  height: 24px !important;
}
.navbar-row-1 {
  display: flex;
}

.text_arrow_up {
  margin-top: 8px;
  color: #555555 !important;
}

.form-select {
  background-color: #212529 !important;
  color: white !important;
  border: none !important;
  width: 200px !important;
}

@media (min-width: 991px) {
  .sidebaricon {
    margin-top: -20px;
  }
}
@media (max-width: 1440px) {
  .img {
    /* padding-top: 5px !important; */
    width: 14px;
  }

  #message_iconed {
    width: 22px !important;
    height: 19px !important;
  }

  #texted_icon {
    font-size: 15px !important;
  }

  .text_arrow_up {
    margin-top: 2px !important;
  }
  .image-icon {
    width: 18px !important ;
    height: 18px !important;
  }

  .image-icon {
    width: 18px !important ;
    height: 18px !important;
  }

  .Admin-right img {
    width: 22px !important;
    height: 22px !important;
  }
}

@media (max-width: 1100px) {
  .picHeader {
    width: 150px !important;
    height: 40px !important;
  }
}

.Admin-right {
  /* position: absolute; */
  margin-top: 20px;
  right: 30px;
}
.navbar-collapse {
  padding-top: 30px;
}
.item-end {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
/* .selector {
  border: 0px;
  background-color: black;
} */
.picHeader {
  margin-left: 10px;
  margin-top: -12px;
}
@media (max-width: 1550px) {
  .Admin-right {
    position: relative;
    right: -10px;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    margin-right: 0px !important;
  }
}

@media (max-width: 990px) {
  .Sidebar {
    display: none;
  }
}
@media (min-width: 600px) {
  .secondnavbar {
    display: none;
  }
  
}

/* @media (min-width: 1200px) and (max-width: 1300px) {
  .item-end {
    margin-left: 100px;
  }
}
@media (max-width: 1200px) {
  .item-end {
    margin-left: 0px;
  }
} */

@media (max-width: 600px) {
  .Navbar1 {
    display: none;
  }
  .secondnavbar {
    display: block;
  
  }
  .sidebaricon {
    display: none;
  }
  .navbar-brand img {
    margin-top: -82px;
}
}
@media (max-width: 991px) {
  .sidebaricon {
    display: none;
  }
}
@media (max-width: 991px) {
  .mainSidebar {
    display: none !important ;
  }
  .chatbotmainclass {
    margin-left: 30px;
  }
}
