.chat250image {
  margin-left: 10px;
}
.profile-text {
  padding-left: 10px;
}

.ChartCard {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.ChartCard1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.MM-clothing {
  display: flex;

  @media (max-width: 400px) {
    flex-direction: column;
  }
  @media (max-width: 1210px) {
    font-size: 12px !important;
  }
}

.mmtext {
  margin-left: 30px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #a9a9a9;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  @media (max-width: 1340px) {
    margin-left: 5px !important;
    font-size: 10px !important;
  }

  @media (max-width: 400px) {
    padding: 0px !important;
    width: 72px !important;
    text-align: center !important;
    display: block !important;
  }
}

.chat250image img {
  width: 50px !important;
}

.date {
  position: absolute;
  right: 0;
  padding-right: 10px;

  @media (max-width: 1040px) {
    font-size: 10px !important;
  }

  img {
    @media (max-width: 1240px) {
      width: 40px !important;
      height: 20px !important;
    }
  }
}

.date2 {
  position: absolute;
  right: 20px;

  @media (max-width: 620px) {
    margin-left: 40px;
  }
  @media (max-width: 450px) {
    margin-left: 10px;
  }
  @media (max-width: 360px) {
    margin-left: 0px;
  }
}
.button {
  background-color: white !important;
  color: #32be8a !important;
  border-color: #32be8a !important;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch {
  display: flex;
  margin-bottom: 5px;
  justify-content: end;
}

.admin_img {
  width: 45px !important;
}

.icon {
  display: flex;
  gap: 10px;
}
.bell {
  display: flex;
}
.name {
  margin: 20px;
  display: flex;
  gap: 0.5rem;

  .circle {
    width: 30px;
    height: 30px;
    background: #32be8a;
    font-family: "Hind";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height */
    justify-content: center;
    border-radius: 50%;
    display: flex;
    align-items: center;

    color: #ffffff;
  }
}
.mainCHat {
  background: #e5e5e5;
  padding-top: 30px;
  margin-top: 10px;
}

.ten {
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 400;
  font-family: Hind;
  color: #555555;
  margin-top: 44px;
}

.three_dots {
  display: flex !important;
  justify-content: end !important;
}

.chat-card-main {
  margin-top: 10px;
  padding-top: 10px;

  padding-left: 10px;
}
.all-card {
  padding-top: 1.5px;
}

// .row>* {
//   flex-shrink: 0;
//   width: 100%;
//   max-width: 100%;
//    padding-right: calc(var(--bs-gutter-x) * .0 ) !important;
//   padding-left: calc(var(--bs-gutter-x) * .2) !important;
//   margin-top: var(--bs-gutter-y);
// }

.ChartCard {
  padding: 15px;
  background-color: white;
  position: relative;
  @media (min-width: 990px) and (max-width: 1100px) {
    flex-direction: column;
  }
}

.ChartCard1 {
  padding: 15px;
  background-color: white;
  position: relative;

  @media (max-width: 990px) {
    margin-top: 50px;
  }
}
.bell {
  background-color: white;
  margin-top: 1px;
}

.chat_part {
  background: #e5e5e5;
  @media (max-width: 990px) {
    padding-top: 100px;
  }
}

.message_1 {
  position: relative;
  width: 600px !important;
  padding: 1.5rem;
  display: flex;
  margin-top: 40px;
  color: black;
  text-align: left;
  background: #ffffff !important;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) !important;
  border-radius: 0px 30px 30px 30px !important;
  border: none !important;
  margin-left: 28px;

  @media (min-width: 990px) and (max-width: 1290px) {
    width: 400px !important;
  }
  @media (max-width: 990px) {
    margin-top: -50px;
  }
  @media (max-width: 650px) {
    width: 95% !important;
  }

  .text_1 p {
    max-width: 90%;
    padding: 20px;

    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #000000;
  }

  .btn-success {
    width: 0px !important;
    height: 0px !important;

    color: black;
    text-align: left;
    background: transparent !important;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
  }

  .btn-group > .btn-group:not(:last-child) > .btn,
  .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    display: none !important;
  }

  .dropdown-toggle {
    width: 30px !important;
    height: 50px !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;

    box-shadow: none !important;
  }

  .dropdown-toggle:empty::after {
    content: url(../images/Vector.png) !important;
    width: 14px !important;
    height: 6px !important;
    border: none !important;
  }
}

.msg_sent {
  display: flex;
  justify-content: end;
}

.message_2 {
  width: 370px !important;
  display: flex;
  margin-top: 40px;
  color: black;
  text-align: left;
  background: #e6fdd6 !important;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px 30px 0px 30px !important;
  border: none !important;
  padding: 14px;
  align-items: center;
  justify-content: space-around;
  @media (min-width: 990px) and (max-width: 1290px) {
    width: 270px !important;
  }

  .text_1 p {
    max-width: 90%;

    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #000000;
  }

  .btn-success {
    width: 0px !important;
    height: 0px !important;

    color: black;
    text-align: left;
    background: transparent !important;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
  }

  .btn-group > .btn-group:not(:last-child) > .btn,
  .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    display: none !important;
  }

  .dropdown-toggle {
    width: 30px !important;
    height: 50px !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }

  .dropdown-toggle:empty::after {
    content: url(../images/Vector.png) !important;
    border: none !important;
    width: 14px !important;
    height: 6px !important;
  }
}

.type_sec {
  height: 100px;

  background: #ffffff;
  box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 2rem;
  // margin-top: 525px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0;
  width: 66%;
  right: 1%;
  float: right;

  @media (max-width: 990px) {
    position: inherit !important;
    width: 100%;
  }

  @media (max-width: 990px) {
    position: inherit !important;
    width: 100%;
  }
  @media (max-width: 380px) {
    gap: 0.5rem;
  }

  .btn-success {
    width: 0px !important;
    height: 0px !important;

    color: black;
    text-align: left;
    background: transparent !important;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
  }

  .dropdown-toggle {
    width: 30px !important;
    height: 50px !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;

    box-shadow: none !important;
  }

  .btn-group > .btn-group:not(:last-child) > .btn,
  .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    display: none !important;
  }

  .dropdown-toggle:empty::after {
    content: url(../images/Vector.png) !important;
    border: none !important;
    width: 14px !important;
    height: 6px !important;
  }

  .input_part {
    width: -webkit-fill-available;
  }
  .input_part2 {
    width: -webkit-fill-available !important;
  }

  .input_box {
    position: relative;
    // width: 700px;
    height: 80px !important;
    border: none !important;
    outline: none !important;
    background: #f5f7fb !important;
    border-radius: 40px !important;
    display: flex !important;

    align-items: center !important;
    justify-content: end !important;

    width: -webkit-fill-available !important;
  }

  .input_chat {
    position: relative;
    width: -webkit-fill-available;
    height: 80px;
    border: none;
    padding-left: 30px;
    font-size: 25px;
    outline: none;
    background: #f5f7fb;
    border-radius: 40px;
  }

  @media (max-width: 500px) {
    .input_chat {
      height: 60px !important;
    }
    .input_box {
      height: 60px !important;
    }

    ::placeholder {
      font-size: 15px !important;
    }

    .mic {
      width: 50px !important;
    }

    .msent img {
      width: 30px !important;
    }
  }

  ::placeholder {
    font-family: "Hind";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #acacac;
  }

  .mic {
    position: absolute;
    padding-right: 30px;
  }
}

.type_sec2 {
  width: 50%;
  right: 1%;
  @media (max-width: 1330px) {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .message_1 {
    width: 300px !important;
  }

  .message_2 {
    width: 95% !important;
  }
}
@media (max-width: 360px) {
  .message_1 {
    width: 200px !important;
  }

  .message_2 {
    width: 95% !important;
  }
}

#root {
  overflow: hidden;
}

@media (max-width: 1240px) {
  .chat_card_img {
    width: 74px !important;
    height: 74px !important;
    margin-left: 20px;
  }
}
@media (max-width: 1240px) {
  .profile-text h6 {
    font-size: 11px !important;
  }
}
@media (max-width: 990px) {
  .profile-text h6 {
    font-size: 1rem !important;
  }
}

@media (max-width: 990px) {
  .chat_card_img {
    width: 100px !important;
    height: 100px !important;
  }
}

.button_closeder {
  width: 130px !important;
  height: 35px !important;
  background-color: white;
  border: 1px solid #32be8a !important;
  box-sizing: border-box;
  color: #32be8a !important;
  border-radius: 5px !important;

  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  text-align: center;

  color: #4c5854;

  @media (min-width: 990px) and (max-width: 1100px) {
    width: 100px !important;
  }
}

@media (max-width: 530px) {
  .r_img {
    height: 50px;
    width: 50px;
  }

  .profile-text h6 {
    font-size: 10px !important;
  }

  .date2 {
    right: 0px !important;
  }

  .button_closeder {
    width: 70px !important;
    font-size: 10px;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem !important;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.bbb {
  // display: none;
}

@media (min-width: 990px) and (max-width: 1100px) {
  .date-text {
    font-size: 10px !important;
  }
}
@media (max-width: 990px) {
  .type_sec2 {
    width: 100% !important;
  }
}

.hover_icon {
  display: flex;
  gap: 7px;
  padding-top: 120px;
  // padding-left: 0px;
  justify-content: flex-end;
  // padding-left: 100px;
  align-items: flex-end;

  @media (min-width: 990px) and (max-width: 1290px) {
    // padding-left: 30px;
  }
}
.hover_icon1 {
  display: none;
}

.hover_arrow {
  display: block !important;
}

.hhh:hover .hover_icon {
  display: block !important;
}
@media (min-width: 1100px) and (max-width: 1610px) {
  .img1 img {
    width: 50px;
    height: 50px;
  }
  .chat_card_heading {
    font-size: 12px;
  }
  .mmtext {
    margin-left: 5px !important;
    font-size: 10px !important;
  }
  .date {
    position: absolute;
    right: 0;
    padding-right: 10px;
  }
  .date-text {
    font-size: 10px;
  }
  .profile-text {
    padding-left: 2px;
  }
  .profile-text h6 {
    font-size: 11px !important;
  }
  .chat_card_img {
    margin-left: 0px;
  }
  .ChartCard {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .mmtext {
    /* margin-left: 5px !important; */
    font-size: 7px !important;
    padding-left: 3px;
    padding-right: 3px;
  }
  .date {
    /* position: absolute; */
    /* right: 0; */
    padding-right: 3px;
  }
  .bbb img {
    width: 30px;
    height: 16px;
    margin-bottom: 5px;
  }
}
